
.App {
  text-align: center;
  
}

body {
  background-color: black;
  background-image: url(https://preview.free3d.com/img/2015/06/1761760475214775927/xfu3z92q.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}